/* NAVBAR */
.compratick{
    display: none;
}

.navbar{
    background-color: #2C3333;
    padding: 0 5rem 0 0;
    height: auto;
}
#uno:hover{
   background-color: blue;
}
.uno:hover{
    color: rgb(61, 223, 28);
}

@media screen and (max-width: 768px){

    .navbar{
        padding: 0 1rem 0 0;
    }
    
}



/* CAROUSEL */


.carousel-item {
    height: 500px;

}
.carousel{
    background-position: center;
    background-size: cover;
    height: 500px;
}
.carousel-caption{
    right: 8%;
}

#carousel_1 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ba1.jpg"); 
}
#carousel_2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ba2.jpg") ;
}
#carousel_3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ba3.jpg") ;
}

.carousel-control-next{
    width: unset;
}

.but-bg:hover{
    background-color: #198754;
}

/* TEXTO CENTRAL */

.texto_central h2, .texto_central h3, .texto_central p{
    text-align: center;
    margin: 1%;
}

.texto_central h3{

    font-size: 0.8rem;
    color: rgb(126, 121, 121);
}


/* CUIDAD-PLAYA */

section{
    height: 400px;
}

section div:first-child{
    background-image: url(../img/honolulu.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
}

@media screen and (max-width: 768px){

    section{
        height:700px;
    }
    section div:first-child, section div:last-child{
        height: 50%;
    }
    
}

/* FORMULARIO */

form{
    margin: auto;
    width:50%
}
form div input:first-of-type{
    margin-right: 3px;
}
form div input:last-of-type{
    margin-left: 3px;
}

form button{
    width: 100%;
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #16213E;
    color: white;
    height: auto;
    padding: 20px;
}

/* #result{
    background-color: rgb(180, 228, 243);
    height: 200px;
    width: 35%;
    align-items: center;
    padding: 10px;
    text-align: center;
    align-items: center;
} */
