*{
    margin: 0;
    padding: 0;
    box-sizing: content-box ;

}

body{
    height: 100%;
}

header{
    background-color: rgb(93, 90, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding-right: 5%;
}

#codo{
    display: flex;
    justify-content: end;
    width: 15%;
}
#conferenciaBA{
    display: flex;
    justify-content: start;
    width: 40%;
    color: white;
}

.conferencia{
    justify-content: end;
    width: 12%;
    color: rgb(197, 203, 201);
   
}

#conferencia{
    color: white;
}

#oradores{
    color: rgb(197, 203, 201);
    width: 10%;
}
#fecha{
    width: 13%;
    color: rgb(197, 203, 201);
}

#se_orador{
    width: 15%;
    color: rgb(197, 203, 201);
    margin: 3px;
}

#tickets{
    color: rgb(34, 179, 34);
    width: 13%;
    margin: 3px;
}

/* NAV */

nav{
    height: 500px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("ba1.jpg");
    background-position: center;
    background-size: cover;
    align-items: center;
    color: white;
    display: flex;
    justify-content: end;
    
}

#parrafo{
    display: inline-block;
    padding-right: 8%;
    text-align: end;
    height: 40%;
    width: 40%;
}

#boton_orador{
    background-color: transparent;
    color: white;
    border: 2px solid rgb(107, 113, 111);
    border-radius: 10%;
    height: 15%;
    width: 20%;
    margin: 5% 2%;

}
#boton_tickets{
    background-color:rgb(83, 148, 83);
    color: white;
    border: none;
    border-radius: 10%;
    height: 15%;
    width: 20%;
    
}



.texto_central h2, .texto_central h3, .texto_central p{
    text-align: center;
    margin: 1%;
}

.texto_central h3{

    font-size: 0.8rem;
    color: rgb(126, 121, 121);
}

.texto_central p span{
    border-bottom: 0.5px dashed gray;
}

/* MAIN */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
}

.oradores{

    height: 600px;
    display: flex;
    justify-content: space-between;
    
    
    
}
.steve{
    display: flex;
    margin: 0 10px;
    flex-direction: column;
    border: 1px solid rgb(237, 234, 234);
}
.steve div {
    margin: 5%;
}
.steve div button:first-child{
    border: none;
    border-radius: 5px;
    width: 30%;
    background-color: rgb(215, 215, 14);
}
.steve div button:last-child{
    border: none;
    border-radius: 5px;
    width: 20%;
    background-color: rgba(55, 149, 167, 0.841);
    color: white;
}
#ada button:first-child{
    width: 28%;
    background-color: gray;
    color: white;
}
#ada button:last-child{
    width: 28%;
    background-color: rgb(177, 41, 41);
}

.steve h3{
    margin: -3% 5%;
}
.steve p{
    margin: 7% 5%;
}

/* ASIDE */

aside{
    display: flex;
    margin: 40px 0;
    height: 400px;
    width: 100%;

}
aside div:first-child{
    background-image: url("honolulu.jpg");
    width: 50%;
    background-position: center;
    background-size: cover;
    border: 1px solid gray;
}
 aside div:last-child{
    background-color: rgb(63, 60, 60);
    color: white;
    padding: 1%;
    width: 50%;
    border: 1px solid gray; 
 }
aside div:last-child button{
    background-color: transparent;
    color: white;
    border-color: white;
    width: 12%;
    margin: 3% 0;
    padding: 0.7%;
    border-radius: 10%;

}

#formulario{
    display: flex;
    justify-content: center;
}

form{
    display: block;
    text-align: center;    
}
form div{
    display: flex;
    justify-content: space-between;
}
form input{
    width: 47% ;
    margin: 10px 0;
    height: 23px;
    border: 1px solid rgb(183, 222, 222);

}
form textarea{
    border: 1px solid rgb(183, 222, 222);
    padding: 10px;
}
form p{
    text-align: left;
    margin: 5px 0;
}
form button{
    width: 100%;
    background-color: rgb(37, 152, 37);
    color: white;
    border: none;
    height: 40px;
    margin: 10px 0;
    border-radius: 5px;
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #16213E;
    color: white;
    height: 50px;
    padding: 20px;
}





